<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Angular OMDB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="mainController">
    <h1 class='header'>Angular OMDb API Search</h1>
    <form ng-submit='submitPost()'>
      <div class='line'>
        <div class="form-group">
          <label for="movieSearch" class='movieSearch'>Enter a movie by title!</label>
          <br>
          <input type="text" class='input' ng-model='input' placeholder="Movie title">
          <br>
          <a href="/#/{{input}}"
            <input type="submit" class="btn btn-primary">Search!
            <span class="glyphicon glyphicon-arrow-right"  ng-click='submitPost()' aria-hidden="true"></span>
          </a>
        </input>
      </div>
    </div>
    </form>
    <div ng-view></div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
  <script type="text/javascript"src='js/app.js'></script>
  <script type="text/javascript"src='js/controllers/main_controller.js'></script>
  <script type="text/javascript"src='js/controllers/search_controller.js'></script>
  </body>
</html>
